@mixin layout-primitives-contract {
  .viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  .container {
    max-width: var(--layout-width-content);
    margin: 0 auto;
    padding: 0 var(--layout-gutter);
  }

  #site-main {
    padding: 4vw 0;
  }
}
