.download-link {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;

  .download-btn {
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1.25em;
    background-color: #fd0258;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: -40px;
    right: 0;

    @media (max-width: 600px) {
      top: -20px;
      font-size: 1.1em;
      padding: 6px 12px;
    }
  }
}

#cv-body {
  background: #181818;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.6;
  margin: -120px 0 5vw;
  padding: 40px 0;
  position: relative;
  z-index: 0;

  @media (max-width: 600px) {
    padding-top: 150px;
  }

  .clear {
    clear: both;
  }

  p {
    font-size: 1em;
    line-height: 1.6;
    color: #444;
  }

  #cv {
    width: 90%;
    max-width: 800px;
    background: #f3f3f3;
    margin: 30px auto;
    padding: 20px;

    @media print {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .mainDetails {
    padding: 20px;
    border-bottom: 4px solid #007a90;
    background: #fff;

    @media (max-width: 480px) {
      padding: 15px;
    }
  }

  #name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2em;
      font-weight: 700;
      font-family: 'Exo', Helvetica, Arial, sans-serif;
      margin: 0;
    }

    h2 {
      font-size: 1.5em;
      font-family: 'Exo', Helvetica, Arial, sans-serif;
      margin: 10px 0;
    }
  }

  #contactDetails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.95em;
      font-weight: 600;

      li {
        margin-bottom: 10px;
        color: #444;

        a {
          color: inherit;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #007a90;
          }
        }
      }

      img {
        width: 20px;
        margin-right: 10px;
      }
    }
  }

  section {
    border-top: 2px solid #a2a0a0;
    padding: 20px 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .sectionTitle {
    margin-bottom: 20px;
    text-align: center;

    h1 {
      font-family: 'Exo', Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 1.2em;
      color: #007a90;
    }
  }

  .sectionContent {
    h2 {
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 1.4em;
      margin: 10px 0;
      line-height: 1.2;
    }

    h3 {
      font-size: 1.1em;
      font-weight: 400;
      margin: 10px 0;
    }
  }

  .subDetails {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 10px;
  }

  .keySkills,
  .jobSkills {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #444;

    li {
      list-style-type: square;
      list-style-position: inside;
      margin: 0;
      padding-left: 1em;
      text-indent: -1em;
    }
  }

  .keySkills {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .jobSkills {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    font-size: 0.9em;
    font-style: italic;
  }

  .ref {
    font-size: 1em;
    font-style: italic;
    margin-top: 20px;
  }

  @media all and (max-width: 800px) {
    .sectionTitle,
    .sectionContent {
      width: 100%;
      margin-left: 0;
    }

    #name,
    #contactDetails {
      flex-direction: column;
      text-align: center;
    }
  }

  @media all and (max-width: 480px) {
    .keySkills,
    .jobSkills {
      grid-template-columns: 1fr;
    }
  }

  //   @media print {
  //     .print-only {
  //       display: block;
  //     }

  //     .download-link,
  //     .download-btn {
  //       display: none;
  //     }

  //     body {
  //       color: #000;
  //       background: none;
  //     }

  //     h1,
  //     h2,
  //     h3 {
  //       color: #000;
  //     }

  //     a {
  //       color: #000;
  //       text-decoration: none;
  //     }

  //     .sectionTitle {
  //       text-align: left;
  //     }
  //   }
}
