/* Header
  /* ---------------------------------------------------------- */

@mixin dots-bg {
  background: var(--color-base);
  background-size: 1%;
  background-position: top;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.site-head {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: var(--color-base);
  @include dots-bg;
  position: relative;
  z-index: 99;
}

.site-nav-item {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  opacity: 0.8;
  position: relative;
  font-size: 2rem;

  &.home {
    padding-top: 4rem;

    .site-nav-icon {
      height: 35px;
      width: 35px;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    text-decoration: none;
  }

  &.active-link:before {
    content: '';
    position: absolute;
    display: block;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 30%;
    opacity: 0.7;
    background-color: var(--color-pink);
    width: 100%;
    transform: rotate(-2deg);
    animation: reveal 0.3s ease;
    animation-fill-mode: backwards;
  }
}

@keyframes reveal {
  0% {
    background-color: transparent;
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.site-nav-icon {
  height: 20px;
  margin: -5px 0 0;
}

.site-logo {
  height: 25px;
}

.site-mast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.site-mast-right {
  display: flex;
  align-items: center;

  .site-nav-item:last-child {
    padding-right: 0;
  }
}

.site-banner {
  display: grid;
  place-content: center;
  max-width: 80%;
  padding: 5vw 0;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 800'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='nnneon-grad'%3E%3Cstop stop-color='hsl(339, 98%25, 50%25)' stop-opacity='1' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='hsl(184, 74%25, 44%25)' stop-opacity='1' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3Cfilter id='nnneon-filter' x='-100%25' y='-100%25' width='400%25' height='400%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='17 8' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Cfilter id='nnneon-filter2' x='-100%25' y='-100%25' width='400%25' height='400%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='10 17' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3Cg stroke-width='24.5' stroke='url(%23nnneon-grad)' fill='none'%3E%3Cpath d='M388.4530107167675 233.46125231926777C395.59828768523175 229.33666774729716 404.40171231476825 229.33666774729716 411.5469892832325 233.46240701819613L538.4530203016707 306.7315181170911C545.5982972701349 310.8561026890618 550.0000095849032 318.48057971278024 550.0000095849032 326.7309035556499V473.2691257534399C550.0000095849032 481.5194495963096 545.5982972701349 489.14392662002797 538.4530203016707 493.26966589092694L411.5469892832325 566.538776989822C404.40171231476825 570.6633615617925 395.59828768523175 570.6633615617925 388.4530107167675 566.5376222908938L261.54697969832927 493.26851119199864C254.401702729865 489.14392662002797 249.99999041509682 481.5194495963096 249.99999041509682 473.2691257534399V326.7309035556499C249.99999041509682 318.48057971278024 254.401702729865 310.8561026890618 261.54697969832927 306.7303634181629L388.4530107167675 233.46125231926777Z ' filter='url(%23nnneon-filter)'%3E%3C/path%3E%3Cpath d='M400.4530107167675 233.46125231926777C407.59828768523175 229.33666774729716 416.40171231476825 229.33666774729716 423.5469892832325 233.46240701819613L550.4530203016707 306.7315181170911C557.5982972701349 310.8561026890618 562.0000095849032 318.48057971278024 562.0000095849032 326.7309035556499V473.2691257534399C562.0000095849032 481.5194495963096 557.5982972701349 489.14392662002797 550.4530203016707 493.26966589092694L423.5469892832325 566.538776989822C416.40171231476825 570.6633615617925 407.59828768523175 570.6633615617925 400.4530107167675 566.5376222908938L273.54697969832927 493.26851119199864C266.401702729865 489.14392662002797 261.9999904150968 481.5194495963096 261.9999904150968 473.2691257534399V326.7309035556499C261.9999904150968 318.48057971278024 266.401702729865 310.8561026890618 273.54697969832927 306.7303634181629L400.4530107167675 233.46125231926777Z ' filter='url(%23nnneon-filter2)' opacity='0.25'%3E%3C/path%3E%3Cpath d='M376.4530107167675 233.46125231926777C383.59828768523175 229.33666774729716 392.40171231476825 229.33666774729716 399.5469892832325 233.46240701819613L526.4530203016707 306.7315181170911C533.5982972701349 310.8561026890618 538.0000095849032 318.48057971278024 538.0000095849032 326.7309035556499V473.2691257534399C538.0000095849032 481.5194495963096 533.5982972701349 489.14392662002797 526.4530203016707 493.26966589092694L399.5469892832325 566.538776989822C392.40171231476825 570.6633615617925 383.59828768523175 570.6633615617925 376.4530107167675 566.5376222908938L249.54697969832927 493.26851119199864C242.401702729865 489.14392662002797 237.99999041509682 481.5194495963096 237.99999041509682 473.2691257534399V326.7309035556499C237.99999041509682 318.48057971278024 242.401702729865 310.8561026890618 249.54697969832927 306.7303634181629L376.4530107167675 233.46125231926777Z ' filter='url(%23nnneon-filter2)' opacity='0.25'%3E%3C/path%3E%3Cpath d='M388.4530107167675 233.46125231926777C395.59828768523175 229.33666774729716 404.40171231476825 229.33666774729716 411.5469892832325 233.46240701819613L538.4530203016707 306.7315181170911C545.5982972701349 310.8561026890618 550.0000095849032 318.48057971278024 550.0000095849032 326.7309035556499V473.2691257534399C550.0000095849032 481.5194495963096 545.5982972701349 489.14392662002797 538.4530203016707 493.26966589092694L411.5469892832325 566.538776989822C404.40171231476825 570.6633615617925 395.59828768523175 570.6633615617925 388.4530107167675 566.5376222908938L261.54697969832927 493.26851119199864C254.401702729865 489.14392662002797 249.99999041509682 481.5194495963096 249.99999041509682 473.2691257534399V326.7309035556499C249.99999041509682 318.48057971278024 254.401702729865 310.8561026890618 261.54697969832927 306.7303634181629L388.4530107167675 233.46125231926777Z '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}

.site-banner-title {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  color: #fff;
  line-height: 1.1em;
  font-family: 'Permanent Marker', Helvetica, Arial, sans-serif;
  font-size: 6rem;
  font-size: clamp(2rem, 15vw, 26rem);
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.three-d {
  display: inline-block;
  position: relative;
  z-index: 0;

  &:before,
  &:after {
    content: attr(data-line);
    position: absolute;
    backface-visibility: hidden;
  }

  &:before {
    color: var(--color-pink);
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate3d(-2px, 0, 0);
    animation: shakeBefore 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
    animation-delay: 0.5s;
  }

  &:after {
    color: var(--color-green);
    top: 0px;
    left: 0px;
    z-index: -2;
    transform: translate3d(2px, 0, 0);
    animation: shakeAfter 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
    transform: rotate(1deg);
  }
}

@keyframes shakeBefore {
  0% {
    transform: translate3d(-2px, 0, 0);
  }
  2% {
    transform: translate3d(0px, 0, 0);
  }
  4% {
    transform: translate3d(2px, 0, 0);
  }

  8% {
    transform: translate3d(-2px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  100% {
    transform: translate3d(-2px, 0, 0);
  }
}

@keyframes shakeAfter {
  0% {
    transform: translate3d(2px, 0, 0);
  }
  2% {
    transform: translate3d(0px, 0, 0);
  }
  4% {
    transform: translate3d(-2px, 0, 0);
  }

  8% {
    transform: translate3d(2px, 0, 0);
  }
  70% {
    transform: translate3d(2px, 0, 0);
  }
  100% {
    transform: translate3d(2px, 0, 0);
  }
}

.site-banner-desc {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 2.4rem;
  font-size: clamp(1.4rem, 12vw, 2.4rem);
  line-height: 1.3em;
  opacity: 0.8;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
  margin-right: 0.5rem;
}

.highlight-container:before {
  content: ' ';
  display: block;
  height: 50%;
  width: 100%;
  position: absolute;
  background: var(--color-pink);
  transform: rotate(-2deg);
  top: 25%;
  left: 0;
  padding: 10px 3px 3px 10px;
  animation: reveal 0.5s ease;
  animation-fill-mode: backwards;
}

// Animation delay. Will add 0.5s per item.
@for $i from 1 through 4 {
  .highlight-container:nth-child(#{$i})::before {
    animation-delay: #{$i/2}s;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 0 0;
  font-weight: 600;
}

@media (max-width: 580px) {
  .site-nav {
    justify-content: center;
  }
  .site-nav-item {
    font-size: 1.7rem;
  }
  .site-nav-left {
    width: 100%;
    margin: 0 !important;
    display: flex;
    justify-content: center;
  }
  .site-mast-right.mast-small {
    display: none;
  }
}

.site-nav-left {
  margin: 0 20px 0 -10px;
}

.site-nav-button {
  display: inline-block;
  padding: 5px 10px;
  border: #fff 1px solid;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1em;
  border-radius: var(--radius);
  opacity: 0.7;

  &:hover {
    text-decoration: none;
  }
}

.skewed {
  height: 42px;
  height: clamp(15px, 5vw, 42px);
  background: var(--color-base);
  z-index: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0%);
  @include dots-bg;
  position: relative;
  z-index: 1;
  margin-top: -1px;
}
