/* Index
  /* ---------------------------------------------------------- */

.post-feed {
  display: grid;
  justify-content: space-between;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  .post-card {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .post-card-tags {
    margin: 0 0 5px 0;
    font-size: 1.4rem;
    line-height: 1.15em;
    color: var(--color-secondary);
  }

  .post-card-title {
    margin: 0 0 10px 0;
    padding: 0;
    color: var(--color-text-strong);
  }

  .post-card-excerpt {
    font-size: 1.6rem;
    line-height: 1.55em;
  }

  .post-card-image {
    margin: 0 0 10px 0;
    width: auto;
    height: 200px;
    background: var(--color-secondary) no-repeat center center;
    background-size: cover;
    border-radius: 4px;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s;
    }
  }

  .post-card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0 0 0;
    color: var(--color-secondary);

    .reading-time {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 980px) {
  .post-feed {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .post-feed {
    grid-template-columns: 1fr;
  }
}
