<section class='post-feed'>
  <slot />
</section>

<style lang='scss'>
.post-feed {
  display: grid;
  justify-content: space-between;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
  .post-feed {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .post-feed {
    grid-template-columns: 1fr;
  }
}
</style>
