---
interface Props {
  title: string;
  description?: string | null;
}

const { title, description = null } = Astro.props;
---

<header class='tag-header'>
  <h1>{title}</h1>
  {description ? <p>{description}</p> : null}
</header>

<style lang='scss'>
.tag-header {
  max-width: 690px;
  margin: 0 0 4vw;

  h1 {
    margin: 0 0 1rem;
  }

  p {
    margin: 0;
    color: var(--color-secondary);
    font-size: 2.2rem;
    line-height: 1.3em;
  }
}

@media (max-width: 500px) {
  .tag-header {
    border-bottom: var(--color-bg) 1px solid;
    padding-bottom: 4vw;

    p {
      font-size: 1.7rem;
    }
  }
}
</style>
