@use './partials/variables';
@use './partials/reset';
@use './partials/defaults';
@use './partials/quotation';
@use './partials/layout';
@use './partials/header';
@use './partials/index';
@use './partials/archives';
@use './partials/footer';
@use './partials/pagination';
@use './partials/koenig';

@font-face {
  font-family: 'Permanent Marker';
  src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Main
  /* ---------------------------------------------------------- */

#site-main {
  padding: 4vw 0;
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: var(--color-pink);
  z-index: 10000;
}
