@import './partials/variables';
@import './partials/reset';
@import './partials/defaults';
@import './partials/quotation';
@import './partials/layout';
@import './partials/header';
@import './partials/index';
@import './partials/archives';
@import './partials/footer';
@import './partials/pagination';
@import './partials/koenig';
@import './partials/cv';

@font-face {
  font-family: 'Permanent Marker';
  src: url('../../static/fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Main
  /* ---------------------------------------------------------- */

.site-main {
  padding: 4vw 0;
}
