---
import Layout from '../components/Layout.astro';
import MetaData from '../components/meta/MetaData.astro';
import ArticleContent from '../ui/layout/ArticleContent.astro';
import { getGhostSettings } from '../lib/ghost';
import { canonicalFromPath } from '../lib/site';

const settings = await getGhostSettings();
const canonical = canonicalFromPath('/404/');
---

<Layout settings={settings} currentPath='/404/'>
  <Fragment slot='head'>
    <MetaData
      settings={settings}
      canonical={canonical}
      title='Page Not Found'
      description='The page you requested could not be found.'
    />
  </Fragment>

  <div class='container'>
    <ArticleContent title='Error 404' centered>
      <Fragment>
        <p>
          Huh. It looks like that page cannot be found. You can <a href='/'>return home</a> to start over.
        </p>
        <p>Here is a cute picture to make it up to you.</p>
      </Fragment>
      <img class='random-image' alt='Random cute animal' src='https://source.unsplash.com/640x480?cute-animals' />
    </ArticleContent>
  </div>
</Layout>
