@use './tokens';
@use './reset';
@use './base';
@use './code-highlighting';
@use './content-koenig';

@font-face {
  font-family: 'Permanent Marker';
  src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
